{% extends "master.html" %}
{% block title %}Todo Home {% endblock %}

{% block content %}
<h1>HI, welcome to the Todo App</h1>
        {% for todo in data %}
        <div class="todo-item">
            <div class="todo-title"><a href="details/{{todo.id}}">{{todo.title}}</a>
                <span><a href="update/{{todo.id}}" title="update todo">🆙</a></span></div>
            <div class="todo-status" data-done="{{todo.isdone}}">{{todo.isdone}}</div>
        </div>
        {% endfor %}
{% endblock %}